django-compressor
django-babel
django
pillow 
python-dotenv  
djangorestframework 
psycopg2-binary
asgiref
babel
Django
django-appconf
django-babel
django-compressor
pytz
rcssmin
rjsmin
sqlparse
typing_extensions