{% extends "_base.html" %}
{% load i18n %}
{% block content %}
<!-- list of users -->
<div class="container mx-auto mt-4">
  <a href="{% url 'set_language' %}?language=en&next={{ request.path }}">English</a>
  <a href="{% url 'set_language' %}?language=es&next={{ request.path }}">Español</a>


  <h1 class="text-2xl font-bold">
    Users {% trans "welcome" %}
    
  </h1>
  <p>Current language: {{ LANGUAGE_CODE }}</p>
  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">Username</th>
        <th class="px-4 py-2">First Name</th>
        <th class="px-4 py-2">Last Name</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td class="border px-4 py-2">{{ user.id }}</td>
        <td class="border px-4 py-2">{{ user.username }}</td>
        <td class="border px-4 py-2">{{ user.first_name }}</td>
        <td class="border px-4 py-2">{{ user.last_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
